@(products: List[Product])

@main("Products") {
    <h1>Product List</h1>
    <a role="button" class="btn btn-success" href="@routes.Application.newProduct()">New Product</a>

    <div class="product-table container">
        <table class="table">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Amount Available</td>
                </tr>
                @for(product <- products) {
                    <tr>
                        <td><a href="@routes.Application.editProduct(product.id)">@product.name</a></td>
                        <td>@product.price</td>
                        <td>@product.amountAvailable</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}